
{% extends 'base.html.twig' %}

{% block title %} Détail de la commande | {{ parent() }}{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-5">
                    <h1 class="text-center mt-4">Détail de la commande</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                <div class="col-12">
                    <table class="table table-hover  mt-5 text">
                    <thead class="thead-dark text-uppercase">
                        <tr>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Prix</th>
                            
                        </tr>
                    </thead>
                        
                    {% for detail in details %}
                    
                    <tr>
                        <td class="text-center font-weight-bold"> {{detail.productId.nom}} </td>
                        <td class="text-center font-weight-bold">{{detail.quantity}}</td>
                        <td class="text-center font-weight-bold">{{detail.price}}    </td>
                    </tr>
                    {% endfor %}
                </table>   

                </div>
            </div>
        </div>              
</div>

{% endblock %}