{% extends 'base.html.twig' %}

{% block title %}Listing des commandes | {{ parent() }}{% endblock %}

{% block content %}
	<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1>Listing des commandes  </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover  mt-5 text">
                        <thead class="thead-dark text-uppercase">
                            <tr>
                                <th class="text-center">Numéro de commande</th>
                                <th class="text-center">Date d'achat</th>
                                <th class="text-center">Détails</th>
                                
                            </tr>
                        </thead>
                            
                        {% for order in orders %}
                        
                        <tr>
                            <td class="text-center font-weight-bold"> N° {{order.id}} </td>
                            <td class="text-center font-weight-bold">{{ order.date|date("d/m/Y") }}</td>
                            <td class="text-center font-weight-bold detail">
                                <a href="{{path('details_order', {'id' : order.id})}}"/><i class="fas fa-search-plus"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>        
                </div>
            </div>
        </div>
    </div>
 {% endblock %}   