{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}
{% block content %}
	<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h1>Bienvenue sur #MyBlog</h1>
                </div>
            </div>
            <div class="row">
            {# boucle for afin d'afficher les articles #}
    
            </div>

        </div>
    </div>
{% endblock %}
