{% extends 'base.html.twig' %}

{% block title %}Admin | {{ parent() }}{% endblock %}
{% block content %}
	<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-0">
                    <h1>Administration</h1>
                </div>
                <div class="col-4">
                    {# <img src="" alt="" title="{{category.nom}}"/> #}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
