.text-bold{font-weight: 600;}
body{font-family: Helvetica, Arial,  sans-serif;}
/* HEADER */
.logo{font-family: 'Leckerli One',  Helvetica,Arial, sans-serif; font-size: 2rem;}
.slide{
    height: 300px;
    overflow: hidden;
}
/* NAvbar */
.navbar-light .navbar-nav .active > .nav-link{color: #17a2b8;}
.navbar-light .navbar-nav .nav-link{color: #000;}
.navbar-light .navbar-nav .nav-link:hover{color: #17a2b8;}

/* connexion */
.font-size {
    font-size: 1.5rem;
}

.input-style {
    color: #fff!important;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 5px;
    font-size: 100%;
    border-radius: .25rem;
    text-decoration: unset !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-style-color {
    background-color: #ff1744!important;
}

.color-blue {
    background-color: #17a2b8;
}

form, input, ::placeholder{font-family: Helvetica, Arial, sans-serif;}
.input { 
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
    border-radius: 0 !important;
}
.signup-image{ width: 100%; height: 90vh; overflow:hidden;}
.signup-link{color: #17a2b8;}
.signup-link:hover{color: #138496;}
.add-product, .add-category{color: #17a2b8;}
.add-product:hover, .add-category:hover{color: #000;}
.btn-edit:hover{ background-color: #c3c3c3; padding: .7rem.5rem; border-radius: .5rem;}
/* page produit */
.image-page-produit{width: 100%; height:auto;}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.card-decription{height: 75px; overflow: hidden;}
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
/* panier */
.btn-shopping{font-size: 1.5rem!important;}
.icone-form{width: 1.3rem;}
@media screen  and (max-width:991px){
    .title-listing{font-size: .8rem;}

}

@media screen  and (max-width:767px){
    .title-listing{font-size: .8rem;}
    tbody, .btn{font-size: .8rem;}
    .btn-outline-danger {padding: 0; border: none;}
    .btn-outline-danger :hover{padding: 0; border: none; color: #545b62; background-color: transparent!important;}
    .table td,.table th{padding:.3rem .5rem!important;}
    .signup-image{display: none!important;}

}
@media screen  and (max-width:575px){
    .btn-submit-form{width: 100% !important; font-weight: 600;}
}