/* HEADER */
.logo{font-family: 'Leckerli One',  Helvetica,Arial, sans-serif; font-size: 2rem;}
.slide{
    height: 300px;
    overflow: hidden;
}
/* connexion */
.img-signup {
    width: 420px !important;
    max-width: unset;
}
@media screen  and (max-width:991px){

}

@media screen  and (max-width:767px){
}
@media screen  and (max-width:575px){
    .btn-submit-form{width: 100% !important;}
}